<header class="header header-mini">
      <div class="header-title">Blogs</div>
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
         </ol>
      </nav>
   </header>