<header class="header header-mini">
      <div class="header-title">بلاگ ها</div>
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
         </ol>
      </nav>
   </header>