<header class="header header-mini">
      <div class="header-title">Components</div>
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Components</li>
         </ol>
      </nav>
   </header>