<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Nicks Web projects.">
    <meta name="author" content="Nick">
    <title>{{title}}</title>
    <!-- font icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=keyboard_arrow_down" />    <link rel="stylesheet" href="/public/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/public/css/tailwindorg.css" />
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="/public/css/meyawo.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
   



     {{{body}}}





    <!-- core  -->
    <script src="/public/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="/public/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
    <script src="/public/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Meyawo js -->
    <script src="/public/js/meyawo.js"></script>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</body>

</html>