  <!-- Page Navbar -->
    <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="logo" href="../Fa">پروژه‌های وب نیک</a>
            <ul class="nav">
                <li class="item">
                    <a class="link" href="../Fa">خانه</a>
                </li>
                
                <li class="item ml-md-3">
                    <a href="/preview-form" class="btn btn-primary">ثبت پروژه</a>
                </li>
            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </a>
        </div>
    </nav><!-- End of Page Navbar -->




    
<!-- Courses Course Details Section -->
<section id="courses-course-details" class="courses-course-details section">

    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-8" style="max-width:auto; flex:0 0 100%;">
                <img src=/{{postt.Imag}} class="img-fluid" alt=""   style=" height: 300px; max-width: 100%; margin-top: 10px;">
                <h3>{{postt.Title}}</h3>
                <span>
                    {{{postt.Contents}}}
                </span>
            </div>
        </div>

    </div>

</section><!-- /Courses Course Details Section -->



