{{> navbar}}

    <!-- page header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">HI!</span>
                <span class="down">We Are Nick</span>
            </h1>
            <p class="header-subtitle">FRONTEND WEB DESIGNER</p>
            <p class="header-subtitle">BACKEND WEB DEVELOPER</p>

            <button href="#contact" class="btn btn-primary">Visit My Works</button>
        </div>
    </header><!-- end of page header -->

    {{> __about}}

    {{> __service}}

    
     {{> __portfolio}}


    {{> __pricing}}


    {{>container}}



    {{> testimonial}}

    {{> contactus}}







   