<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6>پیام های تماس با ما </h6>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">نام کامل</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> ایمیل </th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> پیام </th>
              </tr>
            </thead>
             <tbody>
              {{#each messages}}
                <tr>
                  <td>{{this.FullName}}</td>
                  <td>{{this.Email}}</td>
                  <td>{{this.content}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
