<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with Nicks Web projects.">
  <meta name="author" content="Nick">
  <title>{{title}}</title>
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->

  <link rel="stylesheet" href="public/css/mdb.rtl.min.css" />
  <link rel="stylesheet" href="/assets/css/cs.css">

  <!-- Bootstrap CSS
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
 -->
  <style>
    .hidden-section {
      display: none;
    }
  </style>
</head>

<body>
  <div class="container py-5">
    <div id="night-sky" style="--number-of-stars: 20"></div>

    <div class="row d-flex align-items-center">

      <div class="col-md-6">
        <span class="small text-secondary">قدم اول</span>
        <p class="fs-3 fw-bold text-primary">مشخصات فردی را وارد کنید</p>

        <span class="small text-secondary">قدم دوم</span>
        <p class="fs-3 fw-bold text-primary">وب‌سایت خود را برای ما تعریف کنید</p>

        <span class="small text-secondary">قدم سوم</span>
        <p class="fs-3 fw-bold text-primary">امروز <span class="text-danger">پیش نمایش اختصاصی</span> دریافت کنید</p>

        <hr class="my-3">

        <p class="text-secondary small">
          <strong>پتانسیل کسب کار خود را با تکنولوژی های روز دنیا به حداکثر برسانید</strong><br>
          به سوالات جواب دهید و پیش نمایش اختصاصی دریافت کنید
        </p>
      </div>



      <div class="col-md-6">
        <div class=" border  shadow-0 mb-3 glass-card" style="width: 100%; height: 400px;">
          <div class="card-body rounded-4 text-light px-5 pt-4 pb-2">
            <form id="Preview-form" action="/api/preview-form" method="POST" class="text-center" novalidate>
              <input type="hidden" name="lang" value="fa" />
              <!-- بخش 1: اطلاعات پایه -->
              <div id="section-1" class="form-section">
                <h4 class="text-danger">اطلاعات پایه</h4>
                <br><br>
                <div class="row mb-4">
                  <div class="col">
                    <div data-mdb-input-init class="form-outline">
                      <input name="FullName" type="text" id="name" class=" text-secondary form-control" required />
                      <label class="form-label" for="name">نام کامل</label>
                    </div>
                  </div>
                  <div class="col">
                    <div data-mdb-input-init class="form-outline">
                      <input name="Email" type="email" id="emial" class=" text-secondary form-control" required />
                      <label class="form-label" for="email">آدرس ایمیل</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    <div data-mdb-input-init class="form-outline">
                      <input name="PhoneNumber" type="tel" id="number" class=" text-secondary form-control" required />
                      <label class="form-label" for="number">شماره تلفن</label>
                    </div>
                  </div>
                </div>
                <div class="text-center bg-transparent ">
                  <button type="button" class="btn btn-primary" onclick="showNextSection(2)">بعدی</button>
                </div>
              </div>

              <!-- بخش 2: اطلاعات کسب‌وکار -->
              <div id="section-2" class="form-section hidden-section">
                <h4>اطلاعات کسب‌وکار</h4>
                <br><br>
                <div class="row mb-4">
                  <div class="col">
                    <div data-mdb-input-init class="form-outline">
                      <input name="BusinessName" type="text" id="pname" class=" text-secondary form-control" required />
                      <label class="form-label" for="pname">نام کسب‌وکار یا پروژه</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    <div data-mdb-input-init class="form-outline">
                      <input name="Industry" type="text" id="industry" class=" text-secondary form-control" required />
                      <label class="form-label" for="industry">کسب‌وکار شما در چه صنعتی فعالیت می‌کند؟</label>
                    </div>
                  </div>
                </div>


                <div class="row mb-4">
                  <div class="col">
                    <label class="form-label">آیا در حال حاضر وب‌سایت دارید؟</label>
                    <div data-mdb-input-init class="form-check form-check-inline">
                      <input name="HasWebsite" class="form-check-input" type="radio" value="Yes" id="websiteYes"
                        onclick="toggleWebsiteUrl(true)" required />
                      <label class="form-check-label" for="websiteYes">بله</label>
                    </div>
                    <div data-mdb-input-init class="form-check form-check-inline">
                      <input name="HasWebsite" class="form-check-input" type="radio" value="No" id="websiteNo"
                        onclick="toggleWebsiteUrl(false)" required />
                      <label class="form-check-label" for="websiteNo">خیر</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-4" id="websiteUrlRow" style="display: none;">
                  <div class="col">
                    <div data-mdb-input-init class="form-outline">
                      <input name="WebsiteURL" type="url" id="WebsiteURL" class=" text-secondary form-control" />
                      <label class="form-label" for="WebsiteURL">آدرس وب‌سایت</label>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-primary" onclick="showNextSection(3)">بعدی</button>
              </div>

              <!-- بخش 3: نوع پروژه -->
              <div id="section-3" class="form-section hidden-section">

                <div class="mb-4">
                  <label>چه نوع وب‌سایتی می‌خواهید ایجاد کنید؟</label>
                  <br>
                  <div class="form-check form-check-inline">
                    <input name="ProjectType" class="form-check-input" type="radio" value="Business" id="business" />
                    <label class="form-check-label" for="business">تجاری</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input name="ProjectType" class="form-check-input" type="radio" value="E-commerce" id="ecommerce" />
                    <label class="form-check-label" for="ecommerce">فروشگاهی</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input name="ProjectType" class="form-check-input" type="radio" value="Portfolio" id="portfolio" />
                    <label class="form-check-label" for="portfolio">نمونه‌کار</label>
                  </div>
                </div>



                <div class="mb-4">
                  <label>چه ویژگی‌هایی را برای وب‌سایت خود می‌خواهید؟ </label>
                  <br>
                  <div class="form-check form-check-inline">
                    <input name="WebsiteFeatures" class="form-check-input " type="checkbox" value="Contact Form"
                      id="contactForm" />
                    <label class="form-check-label" for="contactForm">فرم تماس</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input name="WebsiteFeatures" class="form-check-input " type="checkbox" value="Online Shopping"
                      id="onlineShopping" />
                    <label class="form-check-label" for="onlineShopping">امکان خرید آنلاین</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input name="WebsiteFeatures" class="form-check-input " type="checkbox" value="Blog or News Section"
                      id="blogSection" />
                    <label class="form-check-label" for="blogSection">بخش بلاگ یا اخبار</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input name="WebsiteFeatures" class="form-check-input" type="checkbox" value="Booking System"
                      id="bookingSystem" />
                    <label class="form-check-label" for="bookingSystem">سیستم رزرو</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input name="WebsiteFeatures" class="form-check-input " type="checkbox" value="Image Gallery"
                      id="imageGallery" />
                    <label class="form-check-label" for="imageGallery">گالری تصاویر</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input name="WebsiteFeatures" class="form-check-input " type="checkbox" value="Custom Animations"
                      id="customAnimations" />
                    <label class="form-check-label" for="customAnimations">انیمیشن‌ها یا تعاملات سفارشی</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input name="WebsiteFeatures" class="form-check-input " type="checkbox"
                      value="Social Media Integration" id="socialMedia" />
                    <label class="form-check-label" for="socialMedia">اتصال به شبکه‌های اجتماعی</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input name="OtherFeatures" class="form-check-input " type="checkbox" value="Other"
                      id="otherFeatures" onclick="toggleOtherInput()" />
                    <label class="form-check-label" for="otherFeatures">سایر موارد </label>
                  </div>
                  <div class="mt-3" id="otherInputContainer" style="display: none;">
                    <input name="OtherFeatures" type="text" id="otherInput" class=" text-secondary form-control"
                      placeholder="لطفاً ویژگی‌های دیگر را مشخص کنید" />
                  </div>
                </div>



                <div class="text-center">
                  <button type="button" class="btn btn-primary" onclick="showNextSection(4)">بعدی</button>
                </div>
              </div>


              <!-- بخش 4: ترجیحات طراحی -->
              <div id="section-4" class="form-section hidden-section">

                <div class="mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input name="DesignStyle" type="text" id="designStyle" placeholder="مدرن، مینیمال، رسمی، خلاقانه"
                      class=" text-secondary form-control" />

                    <label class="form-label">آیا سبک طراحی خاصی مد نظر دارید؟</label>
                  </div>
                </div>
                <br>
                <div class="mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input name="DesignColors" type="text" id="designColor" class=" text-secondary form-control" />

                    <label class="form-label">آیا رنگ‌های خاصی را برای وب‌سایت خود ترجیح می‌دهید؟</label>
                  </div>
                </div>
                <br>
                <div class="mb-4">
                  <div data-mdb-input-init class="form-outline">

                    <input name="DesignInspirations" type="text" id="DesignInspirations"
                      class=" text-secondary form-control" />
                    <label class="form-label">وب‌سایت‌هایی وجود دارند که از طراحی آن‌ها الهام گرفته باشید؟</label>
                  </div>
                </div>

                <div class="text-center">
                  <button type="button" class="btn btn-primary" onclick="showNextSection(5)">بعدی</button>
                </div>
              </div>


              <!-- بخش 5: ترجیحات رنگ‌های -->
              <div id="section-5" class="form-section hidden-section">
                <div class="mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input name="TargetAudience" type="text" id="TargetAudience"
                      placeholder=" گروه سنی، شغل، موقعیت جغرافیایی" class=" text-secondary form-control" />
                    <label class="form-label">مخاطب هدف شما چه کسانی هستند؟</label>
                  </div>
                </div>
                <br><br>
                <div class="mb-4">
                  <div data-mdb-input-init class="form-outline">

                    <input name="UserActions" type="text" id="UserActions"
                      placeholder="خرید، تماس با شما، ثبت‌نام در خبرنامه" class=" text-secondary form-control" />
                    <label class="form-label">دوست دارید کاربران چه اقداماتی در وب‌سایت شما انجام دهند؟</label>
                  </div>
                </div>

                <div class="text-center">
                  <button type="button" class="btn btn-primary" onclick="showNextSection(6)">بعدی</button>
                </div>
              </div>

              <!-- بخش 6: ترجیحات رنگ‌های -->
              <div id="section-6" class="form-section hidden-section">

                <div class="mb-4">
                  <div data-mdb-input-init class="form-outline">

                    <input name="PreferredPlatform" type="text" id="PreferredPlatform"
                      placeholder="مثلاً وردپرس، React، Node.js" class=" text-secondary form-control" />
                    <label class="form-label">آیا پلتفرم یا تکنولوژی خاصی را برای ساخت وب‌سایت خود مد نظر دارید؟
                    </label>
                  </div>
                </div>
                <br>
                <div class="mb-4">
                  <div data-mdb-input-init class="form-outline">

                    <input name="ExternalIntegrations" type="text" id="ExternalIntegrations"
                      placeholder="درگاه‌های پرداخت، سیستم‌های مدیریت مشتری" class=" text-secondary form-control" />
                    <label class="form-label"> آیا نیاز به اتصال وب‌سایت به ابزارها یا API خارجی دارید؟ </label>
                  </div>
                </div>

                <br>
                <div class="row mb-4">
                  <div class="col">
                    <div data-mdb-input-init class="form-outline">

                      <label class="form-label">آیا وب‌سایت شما نیاز به پشتیبانی و بروزرسانی مداوم دارد؟</label>

                      <div data-mdb-input-init class="form-check">
                        <input name="MaintenanceRequired" class="form-check-input" type="radio" value="Yes"
                          id="websiteYes" />
                        <label class="form-check-label" for="websiteYes">بله</label>
                      </div>
                      <div data-mdb-input-init class="form-check">
                        <input name="MaintenanceRequired" class="form-check-input" type="radio" value="No"
                          id="websiteNo" />
                        <label class="form-check-label" for="websiteNo">خیر</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary" onclick="showNextSection(7)">بعدی</button>
                </div>
              </div>


              <!-- بخش 7: ترجیحات طراحی -->
              <div id="section-7" class="form-section hidden-section">
                <div class="mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input type="number" id="budget" name="Budget" class=" text-secondary form-control" />
                    <label class="form-label" for="Budget">بودجه تقریبی شما چقدر است؟</label>
                  </div>
                </div>
                <br>

                <div class="mb-4">
                  <div data-mdb-input-init class="form-outline datepicker">
                    <input type="date" id="datepickerInput" class=" text-secondary form-control" name="LaunchDate" />
                    <label class="form-label" for="launchDate">تاریخ ایده‌آل شما برای راه‌اندازی وب‌سایت چه زمانی
                      است؟</label>
                  </div>

                </div>

                <br>
                <div class="mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="milestone" name="Milestones" placeholder="راه اندازی صفحه اصلی"
                      class=" text-secondary form-control" />
                    <label class="form-label">آیا مایل هستید نقاط عطف یا مهلت خاصی تعیین کنید؟</label>
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary" onclick="showNextSection(8)">بعدی</button>
                </div>
              </div>



              <!-- بخش 8: ترجیحات طراحی -->
              <div id="section-8" class="form-section hidden-section">
                <div class="mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="issue" name="CurrentWebsiteChallenges"
                      placeholder="خبرنامه خودکار, سیستم تخفیف دهی" class=" text-secondary form-control" />
                    <label class="form-label">چه چالش‌هایی در وب‌سایت فعلی خود دارید؟</label>

                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary" onclick="showNextSection(9)">بعدی</button>
                </div>
              </div>



              <!-- بخش 9: اطلاعات اضافی -->
              <div id="section-9" class="form-section hidden-section">

                <div class="mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <textarea class=" text-secondary form-control" id="additionalInfo" name="SpecificRequests"
                      rows="4"></textarea>
                    <label class="form-label">آیا درخواست یا انتظارات خاصی دارید؟</label>
                  </div>
                </div>
                <!-- Terms of Service Checkbox (fa version) -->
                <div class="mb-4">
                  <div class="form-check text-center">
                    <input class="form-check-input" type="checkbox" name="tos" id="termsCheck" required />
                    <label class="form-check-label" for="termsCheck" required>
                      من با <a href="/terms-of-service-fa" target="_blank">شرایط استفاده</a> موافقم
                    </label>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-success" onclick="showNextSection(10)">ارسال</button>
                </div>
              </div>

              <div id="section-10" class="form-section hidden-section">

                <div class="mb-4">
                  <div class=" ">
                    <p id="responseMessage"></p>
                  </div>
                </div>
              </div>

            </form>




          </div>
        </div>
      </div>


    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
  </script>

  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.1.0/mdb.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/assets/js/cs.js"></script>



  <script>
    function handlePageLoad() {
      const params = new URLSearchParams(window.location.search);

      // Handle validation errors
      const errors = params.get('errors');
      if (errors) {
        try {
          // Parse the JSON string to get error messages
          const errorMessages = JSON.parse(decodeURIComponent(errors));

          // Combine all errors into a single string with each error on a new line
          const errorText = errorMessages.map(msg => `• ${msg}`).join("\n");

          // Display using SweetAlert2
          Swal.fire({
            title: "لطفاً دوباره امتحان کنید!",
            text: errorText,
            icon: "error",
            confirmButtonText: "باشه",
          });
        } catch (e) {
          console.error('Error parsing validation errors:', e);
        }
      }
// Handle success message
const success = params.get('success');
if (success) {
  Swal.fire({
    title: "<h3 class='fw-bold text-secondary' style='font-size: 18px; margin: 0;'>مشاور قبل از خرید با موفقیت <span class='fw-bold text-success' >ثبت<span> <span class='fw-bold text-secondary' >شد!<span></h3>", // Smaller title
    html: "<p class='fw-bold text-primary' style='font-size: 26px;'>سایت رویایی‌تان را با ما به تصویر بکشید</p>", // Larger text
    icon: "success",
    confirmButtonText: "OK",
    confirmButtonColor: "#28a745", // Green color for the OK button
    footer: `<a  href="/blogsfa">برای راهنمایی به صفحه وبلاگ مراجعه بفرمایید</a>`,

  }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = "/blogsfa"; // Redirect to blogs on confirmation
          } 
        });
      }

      // Populate form fields with data from query parameters
      const formElements = document.querySelectorAll("form#Preview-form [name]");
      formElements.forEach(element => {
        const value = params.get(element.name);
        if (value) {
          element.value = decodeURIComponent(value);
        }
      });
    }

    // Run on page load
    window.onload = handlePageLoad;
  </script>






  <script>
    function showNextSection(sectionId) {
      const currentSection = document.querySelector(`#section-${sectionId - 1}`);
      const nextSection = document.querySelector(`#section-${sectionId}`);

      if (currentSection && validateSection(currentSection)) {
        currentSection.classList.add('hidden-section');
        if (nextSection) {
          nextSection.classList.remove('hidden-section');
        }
      } else {
        Swal.fire({
          title: 'فیلدهای گمشده',
          text: 'لطفاً قبل از ادامه، تمام فیلدها را پر کنید',
          confirmButtonText: 'OK',

          width: '300px', 
        });

      }
    }

    function validateSection(section) {
      const inputs = section.querySelectorAll('input[required]');
      for (let input of inputs) {
        if (!input.value.trim()) {
          input.focus();
          return false;
        }
      }
      return true;
    }

  </script>

  <script>
    // Validate if the terms checkbox is checked before proceeding (fa version)
    document.getElementById("submitButton").addEventListener("click", function (event) {
      const termsCheck = document.getElementById("termsCheck");
      if (!termsCheck.checked) {
        event.preventDefault(); 
        Swal.fire({
          title: 'موافقت با شرایط',
          text: 'شما باید با شرایط استفاده موافقت کنید تا فرم را ارسال کنید',
          confirmButtonText: 'OK',

          width: '300px', 
        });

      }
    });
  </script>


  <script>
    function toggleOtherInput() {
      const otherCheckbox = document.getElementById('otherFeatures');
      const otherInputContainer = document.getElementById('otherInputContainer');
      const otherInput = document.getElementById('otherInput');

      if (otherCheckbox.checked) {
        otherInputContainer.style.display = 'block';
      } else {
        otherInputContainer.style.display = 'none';
        otherInput.value = '';
      }
    }

    function toggleWebsiteUrl(isVisible) {
      const websiteUrlRow = document.getElementById("websiteUrlRow");
      const websiteUrlInput = document.getElementById("weburl");

      if (isVisible) {
        websiteUrlRow.style.display = "block";
      } else {
        websiteUrlRow.style.display = "none";
        websiteUrlInput.value = "";
      }
    }



  </script>


  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const datepickerInput = document.getElementById('datepickerInput');
      const launchDateInput = document.getElementById('launchDate');
      const saveDateButton = document.getElementById('saveDate');

      // Save selected date to input field
      //    saveDateButton.addEventListener('click', () => {
      //    const selectedDate = datepickerInput.value; // Get the selected date
      //      if (selectedDate) {
      //     launchDateInput.value = selectedDate; // Set the value in the input field
      //     } else {
      //     alert('لطفا یک تاریخ انتخاب کنید.');
      //    }
      //   });
    });

  </script>



</body>


</html>